{% extends "base.html" %}
{%block title%} Регистрация {% endblock title %}
{% block content %}
<h1>Регистрация</h1>
<form>
    <input type="text">
        <label>Фамилия</label>
    </input>
    <input type="text">
        <label>Имя</label>
    </input>
    <input type="text">
        <label>Отчество</label>
    </input>

    <input type="tel">
        <label>Телефонный номер</label>
    </input>

    <input type="text">
        <label>Адрес</label>
    </input>

    <input type="password">
        <label>Пароль</label>
    </input>

    <input type="submit">
        <label>Зарегистрироваться</label>
    </input>
</form>
{% endblock content %}