div.banner {
    overflow: hidden;
    width: 90em;
    height: 20em;
    padding: 0;
}

div.banner>a>img {
    width: 90em;
    height: 20em;
}

div.banner>a>.img2 {
    position: relative;
    bottom: 20em;
    opacity: 0;
}

div.banner .showed {
    z-index: 50;
}

div.banner a {
    display: block;
    width: 90em;
    height: 20em;
    background-color: rgba(255, 255, 255, 0);
}