.recent-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
}

.news-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.news-cell {
    padding: 0.5em;
}

.news-cell address {
    text-decoration: underline;
    margin: 0.5em;
    font-style: normal;
}

.news-cell h3 {
    margin: 0.5em;
}

.news-cell img {
    float: left;
    width: 200px;
    height: 200px;
}

.news-cell div.main-section {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.news-cell div.main-section>div {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.news-cell div.main-section>div a {
    margin: 0 1em 0 1em;
}

.news-cell article {
    margin: 1em;
    height: minmax(1em, 6em);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.last-news {
    background-color: rgb(0, 0, 0, 0.1);
    position: fixed;
    width: 30em;
    z-index: 20;
    bottom: 5px;
    right: 5px;
}

.many-column {
    display: flex;
    flex-direction: row;
}

.many-column main {
    width: 70%;
}

.many-column .left {
    background-color: rgb(219, 162, 209);
    text-align: center;
    padding: 1em;
    width: 15%;
}

.many-column .right {
    background-color: rgb(231, 144, 144);
    text-align: center;
    padding: 1em;
    width: 15%;
}

.news img {
    float: left;
    margin-right: 1em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.news {
    margin: 1em;
}

.news .main-section article {
    margin: 0 1em 0 1em;
}