{% extends "base.html" %}
{%block title%} Список автомобилей {% endblock title %}
{% block content %}
<h1>О нас</h1>
<main>
<h2>Наш сертификат:</h2>
<div style="border:solid; border-width:10px; border-color:black;">
<br>
        CERTIFICATE OF DILLERSHIP IN RBDW (REGISTRY OF THE BEST DILLEPSHIPS IN THE WORLD)
        <br>
        <br>
        <br>
        <h2>UNIFIED REGISTER OF DILLERSHIPSS</h2>
        <h1>CERTIFICATE</h1>
        <h2><small>regarding the Inclusion of Information</small></h2>
        <br>

        uezdniy gorod M &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 31 may 2023
        <br>
        <b>ООО "Drive"</b>
        <br>

        Ivanov I.I.
        <br>
        A very important director
</div>
    <h2>Наша история:</h2>
    <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue erat nisl, pretium dapibus nisl efficitur ut. 
                Quisque eu interdum lorem, ac fringilla sem. Proin felis nibh, hendrerit non eleifend a, ornare imperdiet tortor. 
                Ut imperdiet aliquam volutpat. Duis tincidunt at lacus vel faucibus. Fusce iaculis tincidunt dolor, et consequat magna 
                vehicula sit amet. Praesent leo diam, fringilla condimentum elit ac, viverra ultricies mi.
            </p>

            <p>
                Praesent quis felis aliquet, suscipit sem id, tempus mauris. Cras semper, massa eget ultrices aliquet, justo 
                lacus condimentum risus, in mollis nulla turpis quis augue. Donec arcu mauris, dignissim nec tristique quis, mollis ut
                felis. Vestibulum suscipit eget dui at posuere. Sed ultricies eget felis placerat rutrum. Aliquam ex ante, ullamcorper 
                at leo vel, lacinia ultrices sapien. Integer cursus tincidunt volutpat.
            </p>

            <p>
                Proin dignissim massa ut tortor aliquet, sit amet malesuada metus dictum. Sed id tellus non augue suscipit bibendum nec nec dolor.
                Suspendisse accumsan sit amet augue eu congue. Curabitur lorem odio, interdum sed metus et, ornare rhoncus augue. Morbi iaculis 
                quam sit amet laoreet malesuada. Fusce eu facilisis augue. Pellentesque nec hendrerit felis, eget malesuada ipsum. Aliquam ac 
                vehicula tortor. Mauris non pharetra orci. Nam tempor mauris quis magna ultricies commodo. Aliquam venenatis malesuada mauris nec
                ullamcorper. Cras suscipit molestie nibh, sit amet aliquet odio sodales sit amet. Aenean et lobortis tortor. Praesent consequat
                odio a sapien tincidunt luctus.
            </p>

            <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ultrices tellus
                eu justo tempus dictum. Nulla sodales et ex a mattis. Donec imperdiet suscipit sem eget mollis. Donec tristique ut augue 
                sit amet dignissim. Phasellus ultricies, ex vel mattis ullamcorper, magna nulla rutrum neque, nec dictum mi arcu vitae 
                metus. Sed vel purus quam. Maecenas iaculis imperdiet libero. Donec ac urna eu dui congue euismod. Praesent vel egestas
                erat, eu maximus metus. Aenean at sagittis tortor. Phasellus dolor enim, pulvinar eu scelerisque eget, semper vel ipsum.
                Aliquam luctus imperdiet sapien, sit amet ornare lorem sollicitudin id. Aliquam facilisis diam et mi varius, in tempus
                neque mattis. Integer ullamcorper tempus elit, in scelerisque lacus viverra vel.
            </p>

            <p>
                Mauris a dui dolor. In scelerisque nisi ut orci ornare semper. Mauris et enim id elit sodales dapibus vel eget erat. Sed 
                semper, odio convallis scelerisque condimentum, erat ipsum fringilla velit, vitae pretium dolor nisl in neque. Nam ut 
                tristique metus, id volutpat metus. Pellentesque accumsan purus ipsum. Suspendisse eget justo in libero egestas commodo
                vel scelerisque justo. Duis turpis justo, malesuada sit amet accumsan non, efficitur non dui. Proin eros tortor, euismod 
                in viverra vel, pellentesque sed mauris. Ut semper velit ut accumsan tincidunt. Nulla non scelerisque arcu, non tempus 
                erat. Mauris aliquam non velit sed tincidunt.
            </p>
</main>
{%endblock content%}