{% extends "base.html" %}
{% load static %}
{%block title%} Список автомобилей {% endblock title %}
{% block content %}
<h1>О нас</h1>
<main>
    <h2>Наш логотип</h2>
    <img class="logo" src="{%static "logo.png"%}"/>
<h2>Наш сертификат:</h2>
<div class="sertificate">

        <div class="org">Certificate Of Deallership In RBDW (Registry Of The Best Deallership In The World)</div>

        <h2 class="urod">UNIFIED REGISTER OF DILLERSHIPSS</h2>
        <h1 class="cert">CERTIFICATE</h1>
        <h2 class="info"><small>regarding the Inclusion of Informationsddhdjh afhjkhg kgskghsk asdfjafuwjfkl; awjfakl;djf a aw efjaskdjf</small></h2>


        <div class="city">uezdniy gorod M</div> <div class="date">31 may 2023</div>
        <div class="ooo">ООО "Drive"</div>

        <div class="imp">
            <div>Ivanov I.I.</div>
            <div>A very important director</div>
    </div>
</div>
<h2>Наша история:</h2>
<ul class="history">
    <li> <span class="year">2015</span> - Открытие Конторы</li>
    <li> <span class="year">2015</span> - Банкротство Конторы</li>
    <li> <span class="year">2016</span> - Открытие Конторы потпытка номер 2 </li>
    <li> <span class="year">2018</span> - Начало работы в плюс</li>
</ul>

</main>
{%endblock content%}