<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{%block title%} {%endblock title%}</title>
    <meta charset="utf-8" />

    <script>
        function updateDateTime()
        {
            var currentDateTime = new Date();
            var formattedDateTime = currentDateTime.toLocaleString();
            var element = document.getElementById("current-datetime");
            element.innerHTML = formattedDateTime;
        }
        setInterval(updateDateTime, 1000);
    </script>

</head>

<body>
    <p style="text-align:center;" id="current-datetime"></p>

    <table>
        <tr>
            <td>
                <a href="main">Главная</a>
            </td>
            <td>
                <a href="catalog">Каталог</a>
            </td>
            {%if request.user.is_staff%}
            <td>
                <a href="diagram">Диаграмма</a>
            </td>
            <td>
                <a href="statistics">Статистика</a>
            </td>
            <td>
                <a href="staff">Кабинет сотрудника</a>
            </td>
            {%endif%}
            {% if request.user.is_authenticated %}
            <td>
                <a href="user">Личный кабинет</a>
            </td>
            <td>
                <a href="logout">Выход</a>
            </td>
            {%else%}
            <td>
                <a href="login">Вход</a>
            </td>
            <td>
                <a href="registration">Регистрация</a>
            </td>
            {%endif%}

        </tr>
    </table>
    <hr />

    {%block content%}{%endblock content%}

</body>

</html>