{% extends "base.html" %}
{%block title%} Контакты {% endblock title %}
{% block content %}
<h1>Контакты</h1>
<main>
    Администрация: <a href="tel:+375295553535">+375 29 5553535</a>
    <br/>
    Бухгалтерия: <a href="tel:+375295553535">+375 29 5553535</a>
    <br/>
    Контакты партнеров:
    <ul>
        <li>Официальный салон BMW в Беларуси: <a href="tel:+375295553535">+375 29 5553535</a></li>
        <li>Официальный салон Audi в Беларуси: <a href="tel:+375295553535">+375 29 5553535</a></li>
        <li>Официальный салон Volvo в Беларуси: <a href="tel:+375295553535">+375 29 5553535</a></li>
    </ul>
</main>
{%endblock content%}