{% extends "base.html" %}
{%load static%}
{%block title%} Страница ради страницы {% endblock title %}
{%block content%}
<h1>Страница ради страницы</h1>
<h2>Таблица</h2>

<div id="view-change">
    <div class="parameterblock">
        <label for="fontsize"> Размер шрифта </label>
        <input type="checkbox" name="fontsize">
    </div>
    <div class="parameterblock">
        <label for="fontsize"> Цвет шрифта </label>
        <input type="checkbox" name="fontcolor">
         <pre>     </pre>
            <form id="fontcolor-form" style="display:none;">
                <label for="r" >r</label>
                <input type="number" name="r" max=255 min=0 value=255>
                <label for="g" >g</label>
                <input type="number" name="g" max=255 min=0 value=255>
                <label for="b" >b</label>
                <input type="number" name="b" max=255 min=0 value=255>

                <button id="changeFontColor" type="button">Применить</button>
                <button id="defaultFontColor" type="button">Сбросить</button>
            </form>
    </div>
    <div class="parameterblock" >
        <label for="fontsize"> Цвет фона страницы </label>
        <input type="checkbox" name="background">
        <pre>     </pre>
            <form id="background-form" style="display:none;">
                <label for="r" >r</label>
                <input type="number" name="r" max=255 min=0 value=255>
                <label for="g" >g</label>
                <input type="number" name="g" max=255 min=0 value=255>
                <label for="b" >b</label>
                <input type="number" name="b" max=255 min=0 value=255>
                <label for="a" >a</label>
                
                <input type="number" name="a" max=255 min=0 value=255>
                <button id="changeBackgroundColor" type="button">Применить</button>
                <button id="defaultColor" type="button">Сбросить</button>
            </form>
    </div>

</div>
<div id="countdown">
    
</div>
<div class="moving-things">
    <div class="red-square left"> </div>

    <div class="white-wrapper left">
        <div class="white-square left"> </div>
    </div>

    <div class="white-wrapper right">
        <div class="white-square right"> </div>
    </div>

    <div class="red-square right"> </div>
</div>
<div class="table-cont">
<table id="tabl" border=2>
    <caption>Caption</caption>
    <tr>
    <th></th>
    <th id="images">Картинки</th>
    <th id="videos">Видео</th>
    <th id="audios">Аудио</th>
    <th id="downloads">Скачивание файлов</th>
    </tr>
    
    <tr>
        <th id="cars">Машины</th>
        <td rowspan=2 headers="cats cars images"><img src="{%static "funnypage/cat_in_a_car.jpg"%}" width=100 height=100/></td>
        <td headers="cars videos"><iframe src="https://www.youtube.com/embed/GkoSo97cJn4"></iframe></td>
        <td headers="cars audios"><audio controls src="{%static "funnypage/bmw_sound.mp3"%}"></audio></td>
        <td headers="cars downloads">123</td>
    </tr>
    <tr>
        <th id="cats">Коты</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Русская литература</th>
        <td></td>
        <td></td>
        <td colspan=2><a download href="{%static "funnypage/idiot.mp3"%}"> фрагмент аудиокниги</a></td>
    </tr>
</table>
</div>
<video src="{%static "funnypage/video.mp4"%}" controls></video>
<br/>
<a href="#tabl">Перейти к таблице</a>
<h3>Листинг</h3>
    <code>
        <pre>
def cancelOrder(request:HttpRequest):
    if request.method == "GET":
        gt = request.GET
        f = gt.get('f')
        i = gt.get('i')
        o = gt.get('o')
        phone = gt.get('phone')
        # print(gt)
        ordr = OrderModel.objects.get(id=gt.get('id'))
        ordr.auto.status = AutoModel.FREE
        ordr.auto.save(update_fields=["status"])
        ordr.delete()
        return HttpResponseRedirect(f"userinfo?f={f}&i={i}&o={o}&phone={phone}")
        </pre>
    </code>
<h3>Сокращение</h3>
<dfn><abbr title="Application Programming Interface">API</abbr></dfn> -- ляляля тополя
<h3>Цитата</h3>
<blockquote cite="https://lifedeeper.ru/pics/mayk-tajson-esli-chelovek-vstaet-posle-padeniya-eto-ne-fizika-eto-harakter/">
    Если человек встает после падения — это не физика. Это характер
</blockquote> 
<cite>Джейсон Стетхем</cite>
<h3> Время</h3>
<time>21:59</time>
<h3> Стихи </h3>
<div>
<pre style="font-family:arial;">
Я помню чудное мгновенье:
Передо мной явилась ты,
Как мимолетное виденье,
Как гений чистой красоты.

В томленьях грусти безнадежной,
В тревогах шумной суеты,
Звучал мне долго голос нежный
И снились милые черты.

Шли годы. Бурь порыв мятежный
Рассеял прежние мечты,
И я забыл твой голос нежный,
Твои небесные черты.

В глуши, во мраке заточенья
Тянулись тихо дни мои
Без божества, без вдохновенья,
Без слез, без жизни, без любви.

Душе настало пробужденье:
И вот опять явилась ты,
Как мимолетное виденье,
Как гений чистой красоты.

И сердце бьется в упоенье,
И для него воскресли вновь
И божество, и вдохновенье,
И жизнь, и слезы, и любовь.
</pre>
</div>
<h3>Фигура</h3>
<figure>
    <img src="{%static "funnypage/python_logo.jpg"%}" width=250 height=250/>
    <figcaption> Лого питона</figcaption>
</figure>
<div class="cards-wrapper">
    <div class="card"> 
        Текст чтобы заполнить карточку. Текст чтобы заполнить карточку. Текст чтобы заполнить карточку. 
    </div>
    <div class="card"> 
         Текст чтобы заполнить карточку. Текст чтобы заполнить карточку. Текст чтобы заполнить карточку. 
    </div>
</div>
<div id="prototype"></div>
<div id="extends"></div>
<div >
    <pre id="dates"></pre>
</div>
<button id="generateTable"> Сгенерировать таблицу</button>
<label for="tableN"> N </label>
<input id="tableN" type="number" min=2 max=10 value=2>
<button id="transpon">Транспонировать</button>
<script src="../static/js/funnypage.js"></script>
<script src="../static/js/changes.js"></script>
<script src="../static/js/timer.js"></script>
<script src="../static/js/table.js"></script>
<script src="../static/js/birthdate.js"></script>   
<script src="../static/js/prototype.js"></script>   
<script src="../static/js/normal.js"></script>   
<script src="../static/js/dates.js"></script>
{%endblock content%}