{%extends "base.html" %}
{% load static %}
{%block title%} Главная {% endblock title %}
{%block content%}
{%with src="хуй"%}
<h1>Главная</h1>
<!--<img src="{%static "little_joke.jpg"%}" alt="Небольшая шутка" />
<h2> {{setup}} </h2>
<h3>{{punchline}}</h3>
<h5>{{fact}}</h5> -->
<img src="{%static "banner.jpg"%}" align="center" width=100% height=100%/>
<h2>Последние новости</h2>
<!--Change to grid-->
    <table>
    <tr>
    <td>
    <section style="overflow: hidden;">
        <h3>Новость</h3>
        <address>Автор новости</address>
        <img align="left" src="{%static "newspaper.jpg"%}" alt="news picture" width=200px height=200px/>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit elit eget nisi scelerisque, 
            eget eleifend justo lobortis. Duis auctor nunc ac felis mollis, eget lobortis velit hendrerit. Orci varius natoque 
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce mattis, diam vitae blandit rutrum, tortor 
            urna tempus nulla, sagittis commodo dolor ligula sit amet sem.
        </article>
        <a href="newspage">Читать далее</a>
    </section>
    <td>
    <section style="overflow: hidden;">
        <h3>Новость</h3>
        <address>Автор новости</address>
        <img align="left" src="{%static "newspaper.jpg"%}" alt="news picture" width=200px height=200px/>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit elit eget nisi scelerisque, 
            eget eleifend justo lobortis. Duis auctor nunc ac felis mollis, eget lobortis velit hendrerit. Orci varius natoque 
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce mattis, diam vitae blandit rutrum, tortor 
            urna tempus nulla, sagittis commodo dolor ligula sit amet sem.
        </article>
        <a href="newspage">Читать далее</a>
    </section>
    </td>
    </tr>
    <hr/>
    </table>
    <h2>Наши партнёры</h2>
    <table>
    <tr>
    <td>
        <img src="{%static "BMW_logo.ico"%}"  width=200p height=200p alt="BMW logo"/>
        <br/>
        <center><a href="https://bmw.com">BMW</a></center>
    </td>
    <td>
        <img src="{%static "volvo_logo.ico"%}" width=200p height=200p alt="Volvo logo"/>
        <br/>
        <center><a href="https://volvo.com">Volvo</a></center>
    </td>
    <td>
        <img src="{%static "audi_logo.ico"%}" width=200p height=200p alt="Audi logo"/>
        <br/>
        <center><a href="https://audi.com">Audi</a></center>    
    </td>
    </tr>
    <hr/>
    </table>
    <a href="main"> <img src="{%static "ad.png"%}" alt="ad banner" style="max-width:90%"/> </a>
{%endwith%}
{%endblock content%}