{% extends "base.html" %}
{% load static %}
{%block title%} Новости {% endblock title %}
{%block content%}
<h1>Новости</h1>
<div class="many-column">
<div class="left">left</div>
<main>
    <section class="news">
        <h3>{{new.name}}</h3>
        <address>{{new.author}}</address>
        <div class="main-section">
            <img src="{%static "newspaper.jpg"%}" alt="news picture" width=200px height=200px />
            <div>
                <article>
                    {{new.text}}
                </article>
            </div>
        </div>
    </section>
</main>
<div class="right">right</div>
</div>
{%endblock content%}