{% extends "base.html" %}
{% load static %}
{%block title%} Новости {% endblock title %}
{%block content%}
<h1>Новости</h1>
<main>
    <!--Change to grid-->
    <table>
    {%for pair in news%}
    <tr>
    {%for new in pair%}
    <td>
    <section style="overflow: hidden;">
        <h3>{{new.name}}</h3>
        <address>{{new.author}}</address>
        <img align="left" src="{%static "newspaper.jpg"%}" alt="news picture" width=200px height=200px/>
        <article>
            {{new.article}}
        </article>
        <a href="newspage?id={{new.id}}">Читать далее</a>
    </td>
    </section>
    {%endfor%}
    </tr>
    {%endfor%}
    <hr/>
    </table>
</main>
{%endblock content%}