{% extends "base.html" %}
{% load static %}
{%block title%} Новости {% endblock title %}
{%block content%}
<h1>Новости</h1>
<main>
    <!--Change to grid-->
    <table>
    <tr>
    <td>
    <section style="overflow: hidden;">
        <h3>Новость</h3>
        <address>Автор новости</address>
        <img align="left" src="{%static "newspaper.jpg"%}" alt="news picture" width=200px height=200px/>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit elit eget nisi scelerisque, 
            eget eleifend justo lobortis. Duis auctor nunc ac felis mollis, eget lobortis velit hendrerit. Orci varius natoque 
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce mattis, diam vitae blandit rutrum, tortor 
            urna tempus nulla, sagittis commodo dolor ligula sit amet sem.
        </article>
        <a href="newspage">Читать далее</a>
    </section>
    <td>
    <section style="overflow: hidden;">
        <h3>Новость</h3>
        <address>Автор новости</address>
        <img align="left" src="{%static "newspaper.jpg"%}" alt="news picture" width=200px height=200px/>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit elit eget nisi scelerisque, 
            eget eleifend justo lobortis. Duis auctor nunc ac felis mollis, eget lobortis velit hendrerit. Orci varius natoque 
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce mattis, diam vitae blandit rutrum, tortor 
            urna tempus nulla, sagittis commodo dolor ligula sit amet sem.
        </article>
        <a href="newspage">Читать далее</a>
    </section>
    </td>
    </tr>
    <hr/>
    </table>
</main>
{%endblock content%}