{% extends "base.html" %}
{% load static %}
{%block title%} Новости {% endblock title %}
{%block content%}
<h1>Новости</h1>
<main>
    <div class="news-cont">
        {%for new in news%}
        <section class="news-cell">
            <h3>{{new.name}}</h3>
            <address>{{new.author}}</address>
            <div class="main-section">
                <img src="{%static "newspaper.jpg"%}" alt="news picture" width=200px height=200px />
                <div>
                    <article>
                        {{new.article}}
                    </article>
                    <a href="newspage?id={{new.id}}">Читать далее</a>
                </div>
            </div>
            <hr/>
        </section>
        {%endfor%}
    </div>
</main>
{%endblock content%}