{% extends "base.html" %}
{%block title%} Политика конфиденциальности {% endblock title %}
{%block content%}
<h1>Политика конфиденциальности</h1>
<main>
<ol>
    <li> <b> Общие положения</b>
        <ol>
            <li>Текст текстектектелвыгрпвфитатфагфршваы
                фыопрпорфыдпрцфоырдофрподфопфолпролфрплрф
                оардоцРДЖОЦМрлолммрррпраплплюрродргргршрлод.орд..дюрдорлрдирлри
            </li>
            <li>Текст текстектектелвыгрпвфитатфагфршваы
                фыопрпорфыдпрцфоырдофрподфопфолпролфрплрф
                оардоцРДЖОЦМрлолммрррпраплплюрродргргршрлод.орд..дюрдорлрдирлри
            </li>
            <li>Текст текстектектелвыгрпвфитатфагфршваы
                фыопрпорфыдпрцфоырдофрподфопфолпролфрплрф
                оардоцРДЖОЦМрлолммрррпраплплюрродргргршрлод.орд..дюрдорлрдирлри
            </li>
        </ol>
    </li>
    <li>
        <b> Необщие положения</b>
        <ol>
            <li>Текст текстектектелвыгрпвфитатфагфршваы
                фыопрпорфыдпрцфоырдофрподфопфолпролфрплрф
                оардоцРДЖОЦМрлолммрррпраплплюрродргргршрлод.орд..дюрдорлрдирлри
            </li>
            <li>Текст текстектектелвыгрпвфитатфагфршваы
                фыопрпорфыдпрцфоырдофрподфопфолпролфрплрф
                оардоцРДЖОЦМрлолммрррпраплплюрродргргршрлод.орд..дюрдорлрдирлри
            </li>
            <li>Текст текстектектелвыгрпвфитатфагфршваы
                фыопрпорфыдпрцфоырдофрподфопфолпролфрплрф
                оардоцРДЖОЦМрлолммрррпраплплюрродргргршрлод.орд..дюрдорлрдирлри
            </li>
        </ol>
    </li>
</ol>
</main>
{%endblock content%}