{%extends "base.html" %}
{%load static%}
{%block title%}Отзывы{% endblock title %}
{%block content%}
<h1>Отзывы</h1>
<main>
{%for review in reviews%}
<hr/>
<section style="overflow: hidden;">
    <address>{{review.user.f}} {{review.user.i}}</address>
    <i>{{review.grade}}/5</i>
    <img src="{%static "anonym.jpg"%}" width=100px height=100px align="left">
    <article>
        {{review.text}}
    </article>
</section>
{%endfor%}
<hr/>
<br/>
<br/>
<form method="post">
    {% csrf_token %}
    <select name="grade">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <textarea name="text" required max-length=200> </textarea>
    <button type="submit">Отправить отзыв</button>
</form>
</main>
{%endblock content%}