{%extends "base.html" %}
{%block title%} Кабинет сотрудника{% endblock title %}
{%block content%}
<h1>Кабинет сотрудника</h1>
<p>Username: {{request.user.username}}</p>
<h3>Введите данные клиента</h3>
<form method="post">
    {%csrf_token%}
    <p><input type="text" name="f" id="f"> <label for="f"> Фамилия </label> </input></p>
    <p><input type="text" name="i" id="i"> <label for="i"> Имя </label> </input></p>
    <p><input type="text" name="o" id="o"> <label for="o"> Отчество </label> </input></p>
    <p><input type="tel" name="phone" id="tel"> <label for="tel"> Номер телефона </label> </input></p>
    <input type="submit" name=""/>
</form>

{%endblock content%}